* {
  list-style: none;
  text-decoration: none;
}

.loginPageBackground {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #1e3a5f;
  color: white;
  flex-direction: column;
}

.loginPageBackground h2 {
  width: 100%;
  height: 10%;
  padding: 20px;
}

.loginPage {
  display: flex;
  width: 100%;
  height: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.loginpageIntro {
  width: 30%;
  text-align: center;
  height: 100%;
  display: grid;
  place-content: center;
}

.loginpageIntro p {
  margin-top: 25px;
  font-weight: 100;
}

.loginForm {
  width: 35%;
  height: 100%;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.loginForm p,
.signup {
  margin-top: 25px;
  font-weight: 100;
  font-size: 1em;
  color: black;
}

.signup {
  color: rgb(0, 89, 255);
}

.loginForm h3 {
  color: #1e3a5f;
  font-weight: bold;
  font-size: 2em;
  padding: 30px;
}

.logo {
  width: 100%;
  height: 100%;
}

.logo img {
  width: 80%;
}

.loginForm label {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.loginForm label:nth-last-child(1) {
  background-color: white;
}

.navlink {
  background-color: #1e9ef4;
  font-weight: normal;
  color: white;
  text-align: center;
}

.loginForm input[name="fullName"],
.loginForm input[name="email"],
.loginForm input[name="password"],
.loginForm input[name="confirmPassword"],
.loginForm select[name="role"],
.navlink {
  width: 100%;
  padding: 15px 10px;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  border: none;
  transition: outline 0.4s linear;
}

.loginForm input[name="password"],
.loginForm input[name="confirmPassword"],
.loginForm select[name="role"] {
  border-radius: 10px 0 0 10px;
}

.loginForm label button {
  padding: 15px 10px;
}

.loginForm input:focus {
  outline: 1px solid skyblue;
  border: none;
}

.socialLogin {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.socialLoginButton {
  width: 10%;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 10px;
  border: none;
  outline: 1px solid gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  background-color: white;
  color: gray;
  transition: background-color 0.4s linear;
}
