/* Header.module.css */
.header {
  width: -webkit-fill-available;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: static;
  color: #ffffff;
  background: #1e3a5f;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchInputHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 10px;
}

.searchInput {
  color: #ffffff;
  padding: 15px 12px;
  width: 96%;
  font-size: 1em;
  margin-right: 16px;
  border: none;
  background-color: rgba(0, 0, 0, 0.24);
  outline: none;
  border-radius: 10px 0 0 10px;
}

.searchInput:focus {
  outline: 1px solid #ffffff;
  border-radius: 10px;
  transition: 0.5s;
}

.icon {
  font-size: 1.6rem;
  margin-right: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
