/* Header.module.css */
.header {
  width: -webkit-fill-available;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s ease-in-out;
  position: static;
  backdrop-filter: blur(7px);
  border-bottom: 1px solid;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.searchContainer {
  display: flex;
  align-items: center;
}

.searchInput {
  background-color: white;
  color: #091f31;
  padding: 8px 12px;
  width: 200px;
  margin-right: 16px;
  border: 1px solid #e2e8f0; /* Outline color */
}

.icon {
  font-size: 1.6rem;
  margin-right: 10px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
