.react-datepicker {
  background-color: #00000030;
  height: 280px;
  width: 100%;
}
.react-datepicker__header {
  background-color: #1e3a5f;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: #ffffff;
  font-size: 1.5em;
}

.react-datepicker__day-name {
  color: white;
}

table,
th,
td {
  border: 1px solid #ffffff4f;
  text-align: center;
  padding: 5px;
  border-collapse: collapse;
  color: #ffffff;
}

table {
  width: 100%;
}
