.react-datepicker {
  background-color: #00000030;
  height: 280px;
  width: 100%;
}
.react-datepicker__header {
  background-color: #1e3a5f;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: #ffffff;
  font-size: 1.5em;
}

.react-datepicker__day-name {
  color: white;
}
